.body {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    background-color: #dddd;
}
.container {
    position: relative;
    margin: auto;
    width: 700px;
    height: 100%;
    background: #FFFFFF;
    

}

.informations {
    background-color: #000000;
}

.network {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 37px;
}

.contentContaiener {
    margin: 35px 28px 28px 35px;
}

.salutation {
    font-size: 20px;
}

.salutation span {
    font-weight: 700;
}


.newForm {
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 77px;
}

.newForm p {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

@media (max-width: 730px) {
    .container {
        margin: auto;
        width: 550px;
        height: 100%;
    
    }
}