.postsForm {
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
    padding-bottom: 30px;
    margin-top: 30px
}

.containerTitle {
    background-color: #000000;
    display: flex;
    position: relative;
    height: 75px;
}

.postTitle {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding-left: 27px;
    padding-right: 470px;
}

.iconsClass {
    color: #fff;
    font-size: 2.5em;
    padding-right: 30px;
    cursor: pointer;
}

.iconsClass:hover {
    color: #cec8c8; 
}

.iconsClass:active {
    color: #6e6c6c; 
}



.postsForm p {
    padding-left: 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #777777;
}

@media (max-width: 730px) {
    .postTitle {
        
        padding-right: 335px;
    }
}

@media (max-width: 570px) {
    .postTitle {
        
        padding-right: 205px;
    }
}