.postsForm {
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
    padding-bottom: 30px;
    margin-top: 30px
}

.containerTitle {
    background-color: #000000;
    padding: 0px 25px;
    display: flex;
}

.containerPostTitle {
    width: 90%;
}

.post_Title {
    width: 100%;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    float: left;
    display: inline;
}

.containerIcons {
    width: 15%;
    margin: auto;
}

.iconsClass {
    color: #fff;
    display: inline;
    float: right;
    padding-left: 10px;
}

.iconsClass:hover {
    color: #cec8c8; 
}

.iconsClass:active {
    color: #6e6c6c; 
}



.postsForm p {
    padding-left: 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #777777;
}


@media (max-width: 570px) {
    .containerPostTitle {
        width: 78%;
    }

    .containerIcons {
        width: 22%;
    }
    
    .iconsClass {
        padding-left: 10px;
    }

    .post_Title {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
}